@tailwind base;
@tailwind components;
@tailwind utilities;

/* base page styling (no @apply to avoid postcss errors) */
html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #f8fafc; /* slate-50 */
  color: #0f172a;      /* slate-900 */
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, "Apple Color Emoji", "Segoe UI Emoji";
}
